@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --bg-color: #F9FAFB;
    --primary: #8bbee8;
    --primary-light: #b7dcfa;
    --primary-dark: #5794c7;
    --secondary: #d7a9e3;
    --secondary-light: #ecc7f5;
    --secondary-dark: #b476c4;
    --success: #a8d5ba;
    --success-light: #dbf8e7;
    --success-dark: #74b48d;
    --navy: #1e1e2d;
    --navy-light: #3a3a41;
    --navy-dark: #141429;
    --white: #fff;
    --tahiti: #efe9e1;
    --tahiti-dark: #ebdac4;
    --tahiti-500: #dfb989;
}

.dark {
    --bg-color: #1e1e2d;
    --primary: #009ef7;
    --primary-light: #22d3ee;
    --primary-dark: #0891b2;
    --navy: #1e1e2d;
    --navy-light: #3a3a41;
    --navy-dark: #141429;
    --white: #141429;
    --tahiti: #141429
}

@layer base {
    html[dir=rtl] {
        font-family: dana;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-lg;
    }

    body,
    #__next {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    body {
        font-size: 15px;
        background-color: var(--bg-color);
    }
}

a:hover {
    @apply text-primary underline;
}

.portal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 16px;
}